@{
    ViewBag.Title = "Add Job Code";
    Layout = "~/Views/Shared/AdminFrame.cshtml";
}
<form action="#" method="post">
    <div @*class="text-center"*@>
        <h1>ADD JOB</h1>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-block">
            <div class="form-header">
                JOB INFORMATION
            </div>
            <div class="md-form">
                <input type="text" id="#" name="#" class="form-control">
                <label for="form01">Job ID Number</label>
            </div>
            <div class="md-form">
                <input type="text" id="#" name="#" class="form-control">
                <label for="form02">Job Description</label>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-default" value="SUBMIT">
            </div>
        </div>
    </div>
</form>
