@{
    Layout = "~/Views/Shared/AdminFrame.cshtml";
}

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] Bullard </title>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link href="~/Content/compiled.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">
</head>


    <div class="container-fluid">
        <h1>ADD USER</h1>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="text" id="form01" class="form-control">
                        <label for="form01" class="">First Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="text" id="form02" class="form-control">
                        <label for="form02" class="">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="text" id="form04" class="form-control">
                        <label for="form04" class="">Phone Number</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="text" id="form05" class="form-control">
                        <label for="form05" class="">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="text" id="form06" class="form-control">
                        <label for="form06" class="">Username</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="text-center">
                <button class="btn btn-default">SUBMIT</button>
            </div>
        </div>
    </div>