@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/AdminFrame.cshtml";
}
<form action="SubmitUser" method="post">
    <div @*class="text-center"*@>
        <h1>ADD USER</h1>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-block">
            <div class="form-header">
                <i class="fa fa-user"></i> USER INFORMATION
            </div>
            <div class="md-form">
                <input type="text" id="Emp_Id" name="Emp_Id" class="form-control">
                <label for="form01">Employee ID Number</label>
            </div>
            <div class="md-form">
                <input type="text" id="FirstName" name="FirstName" class="form-control">
                <label for="form02">First Name</label>
            </div>
            <div class="md-form">
                <input type="text" id="LastName" name="LastName" class="form-control">
                <label for="form03">Last Name</label>
            </div>
            <div class="md-form">
                <input type="text" id="Phone" name="Phone" class="form-control">
                <label for="form04">Phone Number</label>
            </div>
            <div class="md-form">
                <input type="text" id="Email" name="Email" class="form-control">
                <label for="form05">Email</label>
            </div>
            <div class="md-form">
                <input type="text" id="AccountName" name="AccountName" class="form-control">
                <label for="form06">Username</label>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-default" value="SUBMIT">
            </div>
        </div>
    </div>
</form>