
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/AdminFrame.cshtml";

}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<h1><b>TEAM OMNICOM DEVELOPERS</b></h1>
<!-- Team Photos -->
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            PRODUCT OWNER
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Brian.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Brian Randlett
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM LEAD
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Ken.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Ken Koyanagi
                </h2>
                <p>
                    Ken Koyanagi is studying Computer Science with experience in developing web applications with knowledge in C++, C, Java, JavaScript, HTML, Node.JS, and databases. His recent focus has been creating a single page application with a RESTful backend to replace an outdated web application.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - BACK END DEVELOPER
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Donald.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Donald Murchison
                </h2>
                <p>
                    Donald Murchison is studying Computer Science with experience developing applications with C, Java, Python, Ruby, PowerShell, HTML, PHP, and MySQL. His recent focus has been in the fields of network defense, network forensics, and offensive security. This includes activities such as, developing a network intrusion detection system, analyzing network logs, and conducting penetration tests.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Maddie.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Madeline Lewis-Whitfield
                </h2>
                <p>
                    Madeline Lewis-Whitfield is studying Computer Science with experience in developing applications and knowledge in Java, C, JavaScript, Python, Node.js and MySQL. Her recent focus has been in the field of the Internet of Things (IoT), developing a wireless sensor network and using Node.js to create an application to display sensor data. This application concurrently reads serial data from various sensors in the network and outputs the data in real-time graphs.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER / MEETING CHAIR
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Justin.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Justin Tran
                </h2>
                <p>
                    Justin Tran is studying Computer Science with experience in developing applications in C++, C, Java and MySQL. He's half human, half vampire/immortal. He likes long walks on the beach and gazing at the night stars. He's allergic to sunlight, garlic and water, but he makes up for that by being able to transform into a bat and fly away. 
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/kameryn.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Kameryn Taylor
                </h2>
                <p>
                    Kameryn Taylor is studying Computer Science with experience in tool development with knowledge in C#, Java, C, Python, R, and databases. Her recent focus has been in the field of Information Security with the implementation of a network listener to monitor firewall network traffic, and logic to identify threat events associated with sensitive networks and generate email based alerts. This product permits action to be taken in close to real time for significant alerts. Kameryn also built and currently manages an Access Database that allows users to lookup building managers in a timely manner.

                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER / CLIENT LIASON
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Sammy.jpg" Style="width:100%" />
            </div>
            <br />
            <div class="col-sm-6">
                <h2>
                    Sammy Vongsavanh
                </h2>
                <p>
                    Lathsamy Vongsavanh is studying Computer Science with experience in developing applications in C, C#, C++, Java, HTML, MySQL, PowerShell, and Command Line. Her recent focused has been in developing a mobile space game using Java and Codename one, a kiosk application in C# for Office of Water Programs and lastly developing PowerShell and command line scripts to automate various task in windows.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<!-- Contact us section -->
<h2><b>Contact Us</b></h2>
<address>
    OmniCom Service<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@OmniCom.com">Support@OmniCom.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@OmniCom.com">Marketing@OmniCom.com</a>
</address>
