@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/AdminFrame.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
@*<link rel="stylesheet" href="~/Content/nav3.css">*@

<h1><b>Team OmniCom Developers</b></h1>
<!-- Team Photos -->
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            PRODUCT OWNER
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Brian.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Brian Randlett
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM LEAD
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Ken.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Ken Koyanagi
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - BACK END DEVELOPER
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Donald.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Donald Murchison
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Maddie.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Madeline Lewis-Whitfield
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER / MEETING CHAIR
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Justin.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Justin Tran
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Kam.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Kameryn Taylor
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-block">
        <div class="form-header">
            TEAM MEMBER - FRONT END DEVELOPER / CLIENT LIASON
        </div>
        <div class="row">
            <div class="col">
                <img src="~/Images/Sammy.jpg" Style="width:100%" />
            </div>
            <div class="col">
                <h2>
                    Sammy Vongsavanh
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper eros auctor, pretium velit id, convallis neque. Nam ut nibh sed magna sagittis pellentesque. Fusce tellus orci, auctor in vulputate vitae, suscipit ut quam. Maecenas sollicitudin neque ligula, at egestas tortor placerat sit amet. Proin luctus vel turpis in faucibus. Quisque mauris lacus, consequat in consequat sodales, consectetur vitae mauris. Sed fermentum nulla vitae ex pulvinar, ut porttitor lectus iaculis. Mauris vulputate sit amet felis vitae rhoncus.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<!-- Contact us section -->
<h2><b>Contact Us</b></h2>
<address>
    OmniCom Service<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@OmniCom.com">Support@OmniCom.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@OmniCom.com">Marketing@OmniCom.com</a>
</address>
