
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/w3.css">
<link rel="stylesheet" href="~/Content/raleway.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif;
    }
</style>


<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Header -->
        <header id="portfolio">
            <div class="w3-container">
                <h1><b>The Developers.</b></h1>

            </div>
        </header>

        <!-- First Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="~/Images/ken.jpg" alt="Team Lead" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Ken Koyanagi</b></p>
                    <p>SacState recent graduate</p>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="~/Images/donald2.jpeg" alt="Team Member" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Donald Murchison</b></p>
                    <p>SacState recent graduate</p>
                </div>
            </div>
            <div class="w3-third w3-container">
                <img src="~/Images/justin_tran.jpg" alt="Team Member" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Justin Tran</b></p>
                    <p>SacState recent graduate</p>
                </div>
            </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="~/Images/sammy.jpg" alt="Team Member" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Lathsamy Vongsavanh</b></p>
                    <p>SacState recent graduate</p>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="~/Images/kameryn.jpg" alt="Team Member" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Kameryn Taylor</b></p>
                    <p>SacState recent graduate<p>
                </div>
            </div>
            <div class="w3-third w3-container">
                <img src="~/Images/maddie.jpg" alt="Team Member" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Madeline Lewis-Whitfield</b></p>
                    <p>SacState recent graduate</p>
                </div>
            </div>
        </div>

        <!-- Contact us section -->

        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>Contact Us</b></h4>
            <p>OmniCom was fomed when the fire nation attacked.. </p>

            <address>
                OmniCom Service<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@OmniCom.com">Support@OmniCom.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@OmniCom.com">Marketing@OmniCom.com</a>
            </address>

            <hr>
            @* <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>*@

            <!-- End page content -->
        </div>

        <script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
        </script>

</body>



