
@{
    Layout = "~/Views/Shared/LoginFrame.cshtml";
    ViewBag.Title = "Sign Out Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    You are now signed out. Thank you!
</p>
