
@model IEnumerable<Bullard_Inc.Models.Employee>
@{
    Layout = "~/Views/Shared/AdminFrame.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">A Basic Panel</div>
    </div>
</body>
</html>

