@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/LoginFrame.cshtml";
}

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] Bullard </title>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link href="~/Content/compiled.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">

    <meta name="google-signin-client_id" content="406443094985-shdphq6vl46gjqh10tfimphl7batk1vm.apps.googleusercontent.com">
</head>

<!--LOGIN PAGE-->
<body>
    <div class="jumbotron">
        <center><h1 class="display-3">Employee Portal</h1></center>
        <center><p class="lead">Welcome to your new Timecard application</p></center>
        <hr class="my-4">
        <center></<p>We use google for login accounts and they must be registered with the Scheduler for access</p></center>
        <p class="lead">
            <center>
                <div id="my-signin2"></div>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Help" aria-expanded="false" aria-controls="collapseExample">
                    Help
                </button>
            </center> 

            <div class="collapse" id="Help">
                <div class="card card-block">
                    Use the google account registered with the Bullard Scheduler for access to the Timecard. </br>
                    For Assitance with registering your google account with Bullard, Call: (916) 485-4370
                </div>
            </div>

        </p>
    </div>

    <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>